
* {
    box-sizing: border-box;
    margin: 0;
}

main{
   max-width: 750px;
   margin:  0 auto;
}

form {
    text-align: center;
}

form input {
    padding: 10px;
    width: 70%;
    margin-top: 1.3em;
    border: 2px solid rgb(77, 76, 76);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search {
    padding: 12px;
    background-color: rgb(77, 76, 76);
    border: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.university-input {
    background-color: rgb(217, 217, 217);
    color: #fff;
    padding: 1.5em;
}

.university-list {
    background: rgb(77, 76, 76);
    padding: 1.5em;
    color: #fff;
    height: 100%;
}

.list p {
    padding: 5px 0;
}


